<app-header></app-header>


<ion-content >
  <div *ngIf="conversionDolar > 0; else loadingBlock">
    <ion-card class="ion-padding">
        <ion-label>Pesos Chilenos (CLP)</ion-label>
        <ion-input inputmode="numeric" type="number" [(ngModel)]="entradaPesos" id="entradaPesos"></ion-input>
        <ion-select placeholder="Moneda" [(ngModel)]="seleccionMoneda" id="seleccionMoneda">
          <ion-select-option value="dolar" default="true">($) Dolar</ion-select-option>
          <ion-select-option value="euro">(€) Euro</ion-select-option>
        </ion-select>
        <ion-button expand="block" [attr.disabled]="seleccionMoneda === undefined || entradaPesos === undefined || entradaPesos <= 0" (click)="convertir()">Convertir</ion-button>
    </ion-card>
    <div *ngIf="salidaConversion !== undefined">
      <ion-card class="ion-padding">
          <ion-label>{{salidaConversion}}</ion-label>
      </ion-card>
    </div>
  </div>
  <ng-template #loadingBlock>
    <ion-card class="ion-padding">
      <ion-label>Consultando datos para conversión...</ion-label>
    </ion-card>
  </ng-template>
</ion-content>
